* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* Acá coloque la imagen de fondo con  */
    background-image: url(..//imagenes/fondo.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
}

/* Aca comienza ca cabezara donde contiene el boton en fomra de edificio de la "home" y el logo principal de la empresa*/

.cabecera {
    /* background-image:url(imagenes/img-login2.jpg); */
    background-color: #ffffff;
    background-position:center;
    margin: -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Aca comeinza el menu el cual por el momento el unico boton con funcion es el boton de "ingresar" */

/* ----PRUEBA MENU---- */
nav ul {
    background: #164884;
    text-align: center;
    list-style: none;
    overflow: hidden;
  
  }
  
  ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #112d4e;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }
/* -----FIN PRUEBA---- */

/* ---------------------------------------------- */

.title{
    /* background-color: darksalmon; */
    display: inline-block;
    margin: 20px;
    padding: 5px;
}

.precio {
    background-color: #d64a36;
    width: max-content;
    font-size: x-large;
}

.ficha{
    /* background-color: deeppink; */
    width: 100%;
    display: flex;
}

.ficha-left{
    max-width: 60%;
    text-align: center;
}

.ficha-right{
    max-width: 34%;
    float: right;
    text-align: center;
}

.ficha-detalle {
    padding: 5px;
    margin: 5px;
    background-color: #0fbcf9;
    border-radius: 5px;
    color: #2f3542;
    border: 1px solid black;
}

.caracteristicas {
    display: block;
}

.caract-item{
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
}















/* ------------------------
PIE DE PAGINA
----------------------- */


footer {
    /* background-color:mediumturquoise; */
    color: black;
    display: flex;
    text-decoration: none;
  
    padding-top: 20px;
  background-color: beige;
}

.contacto{
    /* background-color: burlywood; */
    max-width: 25%;
    text-align: center;
}

.inversiones {
    /* background-color: crimson; */
    max-width: 24%;
    margin-top: 45px;
    text-align: center;
}


.redes{
    /* background-color: dodgerblue; */
    width: 25%;
    text-align: center;
}

.redes a {
    margin: 4px;
}
.busqueda{
    text-align: center;
    /* background-color: goldenrod; */
    list-style: none;
    text-decoration: none;
    width: 26%;
 
}
.busqueda li {

    text-align: left;
    list-style: none;
    text-decoration: none;
    margin: 2px;
    padding-left: 30px

}

.busqueda a {
    text-decoration: none;
}
