* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* Acá coloque la imagen de fondo con  */
    background-image: url(..//imagenes/fondo.png);
    font-family: Arial, Helvetica, sans-serif;
}

/* Aca comienza ca cabezara donde contiene el boton en fomra de edificio de la "home" y el logo principal de la empresa*/

.cabecera {
    /* background-image:url(imagenes/img-login2.jpg); */
    background-color: #ffffff;
    background-position:center;
    margin: -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Aca comeinza el menu el cual por el momento el unico boton con funcion es el boton de "ingresar" */

.destacado {
    background-image: url(..//imagenes/barra-menu.png);
    padding: 0;
}

.des-menu {
    width: max;
    /* background-color: chartreuse; */
    background-color: transparent;
    
    padding: 25px;
    margin: 0 20% 0 20%;
    margin-bottom: 5PX;
    margin-top: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    /* border: 2px solid #181739; */
}

/* Los botones en naranja todavia no tienen funcionalidad */
.des-nav_link{

    background-color:#fd9726;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border-right: 1px solid black;
    flex-grow: 1;
    border: 1px solid #181739;
    text-decoration: none;
    color: #220e48;
    font-weight: bold;
    text-align: center;
}
 /* Este boton el de ingresar es el unico con funcion */
.ingresar {
    background-color: gold;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border-right: none;
    flex-grow: 1;
    border: 1px solid #181739;
    text-decoration: none;
    color: #220e48;
    font-weight: bold;
    text-align: center;
}


/* Con el :hover logre darles un efecto de iluminacion y borde negro a los botones*/
ul li a:hover {
    box-shadow: 0px 0px 5px black;
    border: 1px solid whitesmoke;
    transition: 0.1s;
}

/* ---------------------------------------------- */

 .sol {
     width: fit-content;
    
     display: flex;
    transition: all 4s;
}
.sol:hover {
    transform: rotate(1turn);
}


/* Contenedor principal*/

  .contenedor{

    /* display: grid; */
    /* background-color: hotpink;  */
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around
  }


/*  El contenedor "producto" le de orden a las cartas y le da un posicionamiento dentro del cuerpo principal de la pagina*/

.producto {

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    max-width: 670px;
    width: 100%;
    margin: 15px;
background-color: transparent;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; */
}


/* El contenedor "agregado" contiene un mapa y puede contener informacion general sin definir aún*/

.agregado {
    background-color: palegreen;
    width: 30%;
    margin: 15px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: auto;
    border: 1px solid;
}

/* Aca puse el mapa pero sin ninguna marca */
.agregado .map {
    justify-content: flex-start;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Aca alinee la informacion adicianal */
aside {
    text-align: center;
    margin: 15px;
    margin-top: 10px;
}


/* ----------------------------------
CARTA
--------------------------- */


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    width: 230px;
    border-radius: 30px;
    padding-bottom: 10px;
    transition: all 0.25s;
    cursor:pointer;
    margin: 20px;

}

.card img{
    max-width: 100%;
    border-radius: 30px 30px 0 0;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.card p {
    margin-bottom: 10px;
}

.card a{
    background-color: #0984e3;
    margin-top: 15px;
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
    color: beige;
    
}

/* ------------------------
PIE DE PAGINA
----------------------- */


footer {
    /* background-color:mediumturquoise; */
    color: black;
    display: flex;
    text-decoration: none;
  
    padding-top: 20px;
  background-color: beige;
}

.contacto{
    /* background-color: burlywood; */
    max-width: 25%;
    text-align: center;
}

.inversiones {
    /* background-color: crimson; */
    max-width: 24%;
    margin-top: 45px;
    text-align: center;
}


.redes{
    /* background-color: dodgerblue; */
    width: 25%;
    text-align: center;
}

.redes a {
    margin: 4px;
}
.busqueda{
    text-align: center;
    /* background-color: goldenrod; */
    list-style: none;
    text-decoration: none;
    width: 26%;
 
}
.busqueda li {

    text-align: left;
    list-style: none;
    text-decoration: none;
    margin: 2px;
    padding-left: 30px

}

.busqueda a {
    text-decoration: none;
}


/* ----------------------
Login
--------------------- */