body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 

}

.destacado-nav ul{
    list-style: none;
    padding: 0%;
    margin: 20px;
    display: flex;
}

.destacado-nav{    
    background-color: rgba(255, 176, 28, 0.5);
}
.destacado-nav li{
    margin: 20px;
}

.destacado-nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0px;
}

.filtros-nav{
        background-color:rgb(56, 59, 255); 
}
.filtros-nav ul{
    list-style: none;
    padding: 0%;
    margin: 20px;
    display: flex;
}

.filtros-nav a{
    display: inline-block;
    padding: 0px;
    text-decoration: none;
    color: silver;
}
.filtros-nav li{
    margin: 20px;
}
